Repository ON00dev/melscript-support: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run test, npm run check, npm run check-colors, markdownlint

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["npm run lint"],
  "src/core/**/*.{js,ts}": ["npm run test"],
  "icons/*.svg": ["npm run check", "npm run check-colors"],
  "*.md": ["markdownlint"]
}

feat: rebrand extension as MelScript Support with updated assets
  README.md
  logo.png
  package.json
Due: markdownlint

chore: update package metadata and cleanup configuration files
  .vscodeignore
  package-lock.json
  package.json
Due: none

feat: initial release 1.2.2 with melscript syntax highlighting and icon fixes
  CHANGELOG.md
  language-configuration.json
  package.json
  src/core/generator/constants.ts
  src/extension/shared/config.ts
  syntaxes/mel.tmLanguage.json
Due: npm run lint, npm run test, markdownlint

feat: add package.json for MelScript VSCode extension
  package.json
Due: none

docs: improve README clarity and add syntax highlighting details
  README.md
Due: markdownlint
